DATABASE_URL=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
AWS_BUCKET_ENDPOINT=
AWS_BUCKET_REGION=
AWS_BUCKET_ACCESS_KEY_ID=
AWS_BUCKET_SECRET_ACCESS_KEY=
AWS_DOCUMENT_BUCKET_NAME=
KAFKA_TOPIC=
KAFKA_CLIENT_ID=
KAFKA_BROKER=